<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Our site</title>
    <link crossorigin="anonymous" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity=
    "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <link href=
    "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet">
    <script>
      function pubnubAlert(id){
        console.log(id);
      }
    </script>
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="#">Table List</a> <a class=
                "blog-nav-item active" href="#">Menu</a> <a class=
                "blog-nav-item" href="#">Wait Staff</a> <a class=
                "blog-nav-item" href="#">Reports</a> <a class="blog-nav-item"
                href="#">Hello Manager Name</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="carousel slide" data-ride="carousel" id=
        "carousel-example-captions" style=
        " margin-top: 30px; margin-bottom: 30px;">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target=
                "#carousel-example-captions"></li>
                <li class="" data-slide-to="1" data-target=
                "#carousel-example-captions"></li>
                <li class="" data-slide-to="2" data-target=
                "#carousel-example-captions"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img alt="900x500" data-holder-rendered="true" data-src=
                    "holder.js/900x500/auto/#777:#777" src=
                    "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNzc3OiM3NzcKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTM2MWIwZTBhMiB0ZXh0IHsgZmlsbDojNzc3O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQ1cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MzYxYjBlMGEyIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjMzMy4yMTA5Mzc1IiB5PSIyNzAuMSI+OTAweDUwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==">
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis
                        interdum.</p>
                    </div>
                </div>
                <div class="item next left">
                    <img data-holder-rendered="true" src=
                    "http://rosina.com/Public%5Cimages%5Cproduct%5C12910ChRav%20062.jpg"
                    style=" z-index: -99999;">
                    <div class="carousel-caption" style=" top: 360px;">
                        <h3 style=" color: white;">Spinich Ravioli</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit.</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="900x500" data-holder-rendered="true" data-src=
                    "holder.js/900x500/auto/#555:#555" src=
                    "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNTU1OiM1NTUKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTM2MWIxMjk1MCB0ZXh0IHsgZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQ1cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MzYxYjEyOTUwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjxnPjx0ZXh0IHg9IjMzMy4yMTA5Mzc1IiB5PSIyNzAuMSI+OTAweDUwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==">
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
        <div aria-multiselectable="false" class="panel-group" id="accordion"
        role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" id="headingOne" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseOne"
                    aria-expanded="true" class="" data-parent="#accordion"
                    data-toggle="collapse" href="#collapseOne" role=
                    "button">Appetizers</a></h4>
                </div>
                <div aria-expanded="true" aria-labelledby="headingOne" class=
                "panel-collapse collapse in" id="collapseOne" role="tabpanel">
                    <div class="panel-body">
                        <p>Remove from menu</p>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=
                                    ""></label>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <h3>Spinich Ravioli - $8</h3>
                                <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah</p>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" style=
                                " display: block; margin: 0 auto; margin-top: 20px;"
                                type="button">Add to an order</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=
                                    ""></label>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <h3>Spinich Ravioli - $8</h3>
                                <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah</p>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" style=
                                " display: block; margin: 0 auto; margin-top: 20px;"
                                type="button">Add to an order</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=
                                    ""></label>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <h3>Spinich Ravioli - $8</h3>
                                <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah</p>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" style=
                                " display: block; margin: 0 auto; margin-top: 20px;"
                                type="button">Add to an order</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value=
                                    ""></label>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <h3>Spinich Ravioli - $8</h3>
                                <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah Blah Blah
                                Blah Blah Blah Blah Blah Blah Blah</p>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" style=
                                " display: block; margin: 0 auto; margin-top: 20px;"
                                type="button">Add to an order</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingTwo" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseTwo"
                    aria-expanded="false" class="collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#collapseTwo"
                    role="button">Lunch</a></h4>
                </div>
                <div aria-expanded="false" aria-labelledby="headingTwo" class=
                "panel-collapse collapse" id="collapseTwo" role="tabpanel"
                style="height: 0px;">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingThree" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseThree"
                    aria-expanded="false" class="collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#collapseThree"
                    role="button">Dinner</a></h4>
                </div>
                <div aria-expanded="false" aria-labelledby="headingThree"
                class="panel-collapse collapse" id="collapseThree" role=
                "tabpanel" style="height: 0px;">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingThree" role="tab">
                    <h4 class="panel-title"><a aria-controls="collapseThree"
                    aria-expanded="false" class="collapsed" data-parent=
                    "#accordion" data-toggle="collapse" href="#collapseThree"
                    role="button">Dessert</a></h4>
                </div>
                <div aria-expanded="false" aria-labelledby="headingThree"
                class="panel-collapse collapse" id="collapseThree" role=
                "tabpanel">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    <footer class="blog-footer">
        <p>Super cafe menu brought to you by the super group.</p>
        <p><a href="#">Back to top</a></p>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
    .tb_button {padding:1px;cursor:pointer;border-right: 1px solid #8b8b8b;border-left: 1px solid #FFF;border-bottom: 1px solid #fff;}.tb_button.hover {borer:2px outset #def; background-color: #f8f8f8 !important;}.ws_toolbar {z-index:100000} .ws_toolbar .ws_tb_btn {cursor:pointer;border:1px solid #555;padding:3px}   .tb_highlight{background-color:yellow} .tb_hide {visibility:hidden} .ws_toolbar img {padding:2px;margin:0px}
    </style>
</body>
</html>