    <div class="container">
        <div class="carousel slide" data-ride="carousel" id=
        "carousel-example-captions" style=
        "margin-top: 30px;margin-bottom: 30px;">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target=
                "#carousel-example-captions"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img data-holder-rendered="true" src=
                    "http://rosina.com/Public%5Cimages%5Cproduct%5C12910ChRav%20062.jpg"
                    style="z-index: -99999;">
                    <div class="carousel-caption" style="top: 360px;">
                        <h3 style="color: white;">Spinich Ravioli</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit.</p>
                    </div>
                </div>
            </div>
            <div aria-multiselectable="false" class="panel-group" id=
            "accordion" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingOne" role="tab">
                        <h4 class="panel-title"><a aria-controls="collapseOne"
                        aria-expanded="true" class="" data-parent="#accordion"
                        data-toggle="collapse" href="#collapseOne" role=
                        "button">Appetizers</a></h4>
                    </div>
                    <div aria-expanded="true" aria-labelledby="headingOne"
                    class="panel-collapse collapse in" id="collapseOne" role=
                    "tabpanel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>Spinich Ravioli - $8</h3>
                                    <p>Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah</p>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary" style=
                                    "display: block;margin: 0 auto;margin-top: 20px;"
                                    type="button">Add to order</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>Spinich Ravioli - $8</h3>
                                    <p>Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah</p>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary" style=
                                    "display: block;margin: 0 auto;margin-top: 20px;"
                                    type="button">Add to order</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>Spinich Ravioli - $8</h3>
                                    <p>Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah</p>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary" style=
                                    "display: block;margin: 0 auto;margin-top: 20px;"
                                    type="button">Add to order</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-8">
                                    <h3>Spinich Ravioli - $8</h3>
                                    <p>Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah Blah Blah Blah Blah Blah Blah
                                    Blah Blah</p>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-primary" style=
                                    "display: block;margin: 0 auto;margin-top: 20px;"
                                    type="button">Add to order</button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingTwo" role="tab">
                        <h4 class="panel-title"><a aria-controls="collapseTwo"
                        aria-expanded="false" class="collapsed" data-parent=
                        "#accordion" data-toggle="collapse" href="#collapseTwo"
                        role="button">Lunch</a></h4>
                    </div>
                    <div aria-expanded="false" aria-labelledby="headingTwo"
                    class="panel-collapse collapse" id="collapseTwo" role=
                    "tabpanel" style="height: 0px;">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore wes anderson cred
                            nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt
                            you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingThree" role="tab">
                        <h4 class="panel-title"><a aria-controls=
                        "collapseThree" aria-expanded="false" class="collapsed"
                        data-parent="#accordion" data-toggle="collapse" href=
                        "#collapseThree" role="button">Dinner</a></h4>
                    </div>
                    <div aria-expanded="false" aria-labelledby="headingThree"
                    class="panel-collapse collapse" id="collapseThree" role=
                    "tabpanel" style="height: 0px;">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore wes anderson cred
                            nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt
                            you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" id="headingThree" role="tab">
                        <h4 class="panel-title"><a aria-controls=
                        "collapseThree" aria-expanded="false" class="collapsed"
                        data-parent="#accordion" data-toggle="collapse" href=
                        "#collapseThree" role="button">Dessert</a></h4>
                    </div>
                    <div aria-expanded="false" aria-labelledby="headingThree"
                    class="panel-collapse collapse" id="collapseThree" role=
                    "tabpanel">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod
                            high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
                            a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh
                            helvetica, craft beer labore wes anderson cred
                            nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt
                            you probably haven't heard of them accusamus labore
                            sustainable VHS.
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>