<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Our site</title>
    <link crossorigin="anonymous" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity=
    "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <link href=
    "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet">
    <script>
      function pubnubAlert(id){
        console.log(id);
      }
    </script>
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item" href="#">Menu</a> <a class=
                "blog-nav-item" href="#">About</a> <a class="blog-nav-item"
                href="#">Login</a> <a class="blog-nav-item active" href="#"
                style="float: right;margin-right: 15px;">Order</a>
            </nav>
        </div>
    </div>
    <div class="container" style=" height: 700px;">
        <h1 style=" margin-top: 50px; margin-bottom: 50px;">Order Summary</h1>
        <table class="table table-striped" style=
        " margin-top: 30px; border-bottom: 1px solid gray;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Dish</th>
                    <th>Modifications</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Spinish Ravioli</td>
                    <td>Meat sauce</td>
                    <td>$8</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Beef Strogonoff</td>
                    <td>No onions</td>
                    <td>$7</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Spaghetti</td>
                    <td></td>
                    <td>$15</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Cheese Ravioli</td>
                    <td>Meat sauce</td>
                    <td>$8</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Chicken noodle soup</td>
                    <td>Extra Broth</td>
                    <td>$7</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Clam chowder</td>
                    <td></td>
                    <td>$15</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-8">
                <p><strong><i>total</i></strong></p>
            </div>
            <div class="col-xs-4">
                <p style="text-align: center;">$60</p>
            </div>
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>Reminder!</strong> You will not be allowed to modify your
            order once it is submitted. Please double check it!
        </div>
        <div class="row">
            <div class="col-xs-8">
                <button class="btn btn-default" style=
                " margin: 0 auto; display: block; width: 100%;" type=
                "button">Return to the menu</button>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary" style=
                " display: block; margin: 0 auto; width: 100%;" type=
                "button">Place order</button>
            </div>
        </div>
    </div><!-- /.container -->
    <footer class="blog-footer" style=" bottom: 0;">
        <p>Super cafe menu brought to you by the super group.</p>
        <p><a href="#">Back to top</a></p>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
    .tb_button {padding:1px;cursor:pointer;border-right: 1px solid #8b8b8b;border-left: 1px solid #FFF;border-bottom: 1px solid #fff;}.tb_button.hover {borer:2px outset #def; background-color: #f8f8f8 !important;}.ws_toolbar {z-index:100000} .ws_toolbar .ws_tb_btn {cursor:pointer;border:1px solid #555;padding:3px}   .tb_highlight{background-color:yellow} .tb_hide {visibility:hidden} .ws_toolbar img {padding:2px;margin:0px}
    </style>
</body>
</html>