    <div class="container" style="margin-bottom: 40px;min-height: 700px;">
        <h1 style="margin-top:40px;margin-bottom: 50px;">Your Tables</h1>
        <div id="table5" class="alert alert-info" role="alert" style="margin-top: 20px;">
            <p><strong>Table 3</strong> Waiting for table to order <a href="#"
            style="float:right;">View bill &gt;</a></p>
        </div>
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
            <p><strong>Table 5</strong> Waiting for table to order <a href="#"
            style="float:right;">View bill &gt;</a></p>
        </div>
        <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
            <p><strong>Table 7</strong> 
                This table <a class="alert-link" href="#">requires assistance</a> 
                <a href="#" style="float:right;">View bill &gt;</a>
                <a style="float:right;margin-right:10px;cursor: pointer;">Done</a>
            </p>
        </div>
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
            <p><strong>Table 8</strong> Waiting for table to order <a href="#"
            style="float:right;">View bill &gt;</a></p>
        </div>
        <div class="alert alert-success" role="alert" style=
        "margin-top: 20px;">
            <p><strong>Table 11</strong> Paid and table <span class=
            "alert-link">needs to be cleared.</span> <a href="#" style=
            "float:right;">View bill &gt;</a></p>
        </div>
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
            <p><strong>Table 10</strong> Waiting for table to order <a href="#"
            style="float:right;">View bill &gt;</a></p>
        </div>
        <div class="alert alert-warning" role="alert" style=
        "margin-top: 20px;">
            <p><strong>Table 14</strong> Waiting for food <a href="#" style=
            "float:right;">View bill &gt;</a></p>
        </div>
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
            <p><strong>Table 15</strong> Waiting for table to order <a href="#"
            style="float:right;">View bill &gt;</a></p>
        </div>
    </div><!-- /.container -->