<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Our site</title>
    <link crossorigin="anonymous" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity=
    "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <link href=
    "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet">
    <script>
      function pubnubAlert(id){
        console.log(id);
      }
    </script>
</head>
<body>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Incoming Meals</a>
                <a class="blog-nav-item" href="#">Menu</a> <a class=
                "blog-nav-item" href="#">Hello Chef Name</a>
            </nav>
        </div>
    </div>
    <div class="container" style=" min-height: 700px;">
        <h1 style="margin-top:40px;">Incoming meals</h1>
        <table class="table" style=
        " margin-top: 30px; /* border-bottom: 1px solid gray; */">
            <thead>
                <tr>
                    <th>Complete</th>
                    <th>Dish</th>
                    <th>Modifications</th>
                    <th>Table #</th>
                </tr>
            </thead>
            <tbody>
                <tr class="warning">
                    <th scope="row">1</th>
                    <td>Spinish Ravioli</td>
                    <td>Meat sauce</td>
                    <td>4</td>
                </tr>
                <tr class="warning">
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Beef Strogonoff</td>
                    <td>No onions</td>
                    <td>4</td>
                </tr>
                <tr class="warning">
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Spaghetti</td>
                    <td></td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Cheese Ravioli</td>
                    <td>Meat sauce</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Chicken noodle soup</td>
                    <td>Extra Broth</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Clam chowder</td>
                    <td></td>
                    <td>7</td>
                </tr>
                <tr class="warning">
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Spinish Ravioli</td>
                    <td>Meat sauce</td>
                    <td>15</td>
                </tr>
                <tr class="warning">
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Beef Strogonoff</td>
                    <td>No onions</td>
                    <td>15</td>
                </tr>
                <tr class="warning">
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Spaghetti</td>
                    <td></td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Cheese Ravioli</td>
                    <td>Meat sauce</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Chicken noodle soup</td>
                    <td>Extra Broth</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                    <td>Clam chowder</td>
                    <td></td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.container -->
    <footer class="blog-footer">
        <p>Blog template built for <a href=
        "http://getbootstrap.com">Bootstrap</a> by <a href=
        "https://twitter.com/mdo">@mdo</a>.</p>
        <p><a href="#">Back to top</a></p>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>